# ═══════════════════════════════════════════
#  .env  —  bu faylni hech kimga ko'rsatmang!
# ═══════════════════════════════════════════

BOT_TOKEN=8628385358:AAFTM3mjbvZSWVW2DPtGjIpV15Zvs_jCHGA
GOOGLE_API_KEY=AIzaSyA53kzzQi-5lb3NCq828J2ucTwMeOY62dQ
ADMIN_IDS=8248223032

BOT_NAME=XizmatBot
COMPANY_NAME=Altron
COMPANY_PHONE=+998 95 494 44 66
COMPANY_ADDRESS=Toshkent, yunsobod tumani
COMPANY_HOURS=Du-Ju: 09:00–18:00, Sha: 10:00–15:00
COMPANY_USERNAME=@Lochinsafarov

DATABASE_URL=sqlite+aiosqlite:///./bot_data.db
